{{main}}

<picture>
  <source class="img-responsive" media="(min-width: 1280px)" srcset="http://www.georgediep.com/images/room.jpg">
  <source class="img-responsive" media="(min-width: 640px)" srcset="http://www.georgediep.com/images/room2.jpg">
  <img class="img-responsive" src="http://www.georgediep.com/images/desk.jpg" alt="Room">
</picture>

<span ng-repeat="value in [1,2,3,4,5]">{{value}}<br></span>

<span ng-repeat="(key, value) in main.array">{{value}}{{key == main.array.length-1 ? '' : ', '}}</span>
