Enter your bill: <br>
<input ng-model="vm.bill" type="text">

<br>
<br>

You will be tipping: <br>
{{vm.getGratuity(vm.bill, vm.gratuity) | currency}}


<br>

<label ng-click="vm.gratuity = 0.16" class="btn" for="">0.16</label> <br>
<label ng-click="vm.gratuity = 0.17" class="btn" for="">0.17</label> <br>
<label ng-click="vm.gratuity = 0.18" class="btn" for="">0.18</label> <br>
<label ng-click="vm.gratuity = 0.19" class="btn" for="">0.19</label> <br>
<label ng-click="vm.gratuity = 0.20" class="btn" for="">0.20</label> <br>
<label ng-click="vm.gratuity = 0.21" class="btn" for="">0.21</label> <br>
<label ng-click="vm.gratuity = 0.22" class="btn" for="">0.22</label> <br>
<label ng-click="vm.gratuity = 0.23" class="btn" for="">0.23</label> <br>
<label ng-click="vm.gratuity = 0.24" class="btn" for="">0.24</label> <br>
<label ng-click="vm.gratuity = 0.25" class="btn" for="">0.25</label> <br>

<br>

{{vm.getSubtotal(vm.bill, vm.getGratuity(vm.bill, vm.gratuity)) || 0 | currency}}
